body{
    background-color: hsl(257, 40%, 49%);
    background-image: url(bg-desktop.svg);
    background-repeat: no-repeat;
    color: white;
    font-weight: 400;
    font-family: 'open sans' sans-serif;
    
}

@media screen and (max-width:375px){
    body{
        background-image: url(bg-mobile.svg);
        margin: 0 auto;
        
    }
    #section{
        display: flex;
        flex-direction: column;
    }
    .logo{
        margin: 55px 0 0 50px;
    }
  
    .main {
      margin: 150px 0 0 50px;
      word-spacing: 2px;
    }

    #img1{width: 100px;}
    #img2{ width:300px;}
}
    
#section{
    display: flex;
}

.btn {
    background-color: white;
    border: none;
    color: hsl(257, 40%, 49%);
    padding: 12px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 50px;
  }

  .logo{
      margin: 55px 0 0 50px;
  }

  .main {
    margin: 150px 0 0 50px;
    word-spacing: 2px;
  }
